Package: zevenet
Version: 5.10.1
Maintainer: Zevenet SL <zevenet-ce-users@zevenet.com>
Architecture: amd64
Section: admin
Priority: optional
Description: Zevenet Load Balancer Community Edition
 Zevenet is a Multilayered Aplication Delivery Controller (ADC) and high performance load balancer whith an easy configuration, usability and user-friendly web GUI for layer 3, 4 and 7 networking management.
Depends: libnftables1, nftables (>= 0.9.1), linux-headers-amd64 (>= 4.19+105), linux-image-amd64 (>= 4.19+105), rrdtool, libnet-netmask-perl, libproc-daemon-perl, libnetwork-ipv4addr-perl, librrds-perl, libio-interface-perl, libdata-validate-ip-perl, libpcap0.8, ntpdate, libfile-grep-perl, iputils-arping, openssl, unzip, libev4, libjson-perl, libjson-xs-perl, libcgi-session-perl, libauthen-simple-perl, libauthen-simple-passwd-perl, conntrack, liburi-perl, libtimedate-perl, libconfig-tiny-perl, snmpd, libnet-ssleay-perl, libnetaddr-ip-perl, libswitch-perl, libcgi-simple-perl, libunix-syslog-perl, monitoring-plugins, monitoring-plugins-common, net-tools, cherokee, pound, libregexp-ipv6-perl, nftlb, curl, zproxy (>= 0.1.0-5.10.1)
